{% raw -%}
# ===================================== Pipeline config ====================================== {{{

{% endraw -%}
export PROJECT_VERSION=v0.0.1
export PROJECT_NAME="{{ cookiecutter.project_slug }}"

{% raw -%}
# }}}

# ====================================== Config soruce ======================================= {{{

export CONFIG_ROOT_PATH=./config/

# }}}

# ==================================== Dynaconf Overwrite ==================================== {{{

export ENV_FOR_DYNACONF=development
export DYNACONF_LOGGING__level=INFO

# }}}
{% endraw -%}